<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myJavaBean" class="com.studyFrame.springDemo.IOC.MyJavaBean" init-method="myInitMethod">
        <property name="desc" value="原始的描述信息#################"></property>
        <property name="remark" value="原始的备注信息**************"></property>
    </bean>

    <bean id="myBeanFactoryPostProcessor" class="com.studyFrame.springDemo.IOC.MyBeanFactoryPostProcessor" />
    <bean id="myBeanPostProcessor" class="com.studyFrame.springDemo.IOC.MyBeanPostProcessor" />

</beans>